<h1>Welcome to Game of Thrones </h1>
<h3> Please select the house to see the characters nside the house</h3>
<h2>Houses<%= link_to "(+)", new_house_path%></h2>
<%@houses.each do |house|%>
  <div >
    <img src="<%= house.img_url %>" id="house_index">
    <%= link_to house.name, house%>
  </div>
<%end%>
